@import "./styles/screen";

.wrap {
  background: var(--white);
  margin: 150px 0;

  @include mobile {
    margin: 100px 0 0;
  }


  .hrBottom {
    margin: 150px auto;
    max-width: 350px;
    width: 100%;
    background-color: var(--purple);
    border: 2px solid var(--purple);

    @include medium {
    }
  }

  .showMore {
    margin-top: 150px;
    display: flex;
    justify-content: center;
  }
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-family: 'Montserrat', sans-serif;
  color: var(--black);

  .imgBlogWrap {
    width: 580px;
    height: 370px;

    @include medium {
      width: 100%;
      max-height: 400px;
      height: 100%;
    }

    .imgBlock {
      position: absolute;
      width: 580px;
      height: 370px;
      @include large {
        width: 530px;
      }

      @media (max-width: 1000px) {
        width: 480px;
        height: 340px;
      }
      @include medium {
        position: static;
        width: 100%;
        height: 100%;
      }
      @include mobile {
        width: 100%;
        //height: 340px;
      }

      .img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 5;
        position: absolute;
        @include medium {
          position: static;
        }
      }

      .imgBg {
        width: 100%;
        height: 100%;
        position: absolute;
        background: var(--purple);
        bottom: -50px;
        right: -50px;
        z-index: 1;

        @include large {
          right: 0;
        }
        @include medium {
          display: none;
        }
      }

      .imgBgReverse {
        left: -50px;

        @include large {
          left: 0;
        }
      }

    }
  }


  .descBlock {
    width: 550px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include large {
      width: 400px;
      height: 250px;
      margin-right: 20px;
    }

    @media (max-width: 1000px) {
      width: 350px;
      height: 220px;
    }
    @include medium {
      position: absolute;
      justify-content: flex-end;
      width: 100%;
      max-height: 400px;
      height: 100%;
    }
    @include tablet {
      height: 250px;
      justify-content: space-around;
    }

    .titleWrap {
      font-family: 'Montserrat Alternates', sans-serif;
      color: var(--white);
      font-weight: 700;
      line-height: 30px;


      .title {
        font-size: 36px;
        background: var(--blue);
        width: 300px;
        height: 90px;
        padding-top: 15px;
        padding-left: 20px;
        position: relative;
        @include large {
          font-size: 30px;
          width: 250px;
          height: 70px;
        }
        @include mobile {
          font-size: 20px;
          width: 150px;
          height: 40px;
          padding: 0 10px 0;
          margin-bottom: 50px;
        }
      }

      .subTitle {
        font-size: 20px;
        background: var(--purple);
        width: 250px;
        height: 60px;
        padding-top: 10px;
        padding-left: 60px;
        position: absolute;
        right: -70px;
        bottom: -30px;

        @include large {
          font-size: 18px;
          width: 200px;
          height: 50px;
        }
        @include mobile {
          text-align: center;
          font-size: 14px;
          width: 120px;
          height: 40px;
          padding-left: 10px;
        }
      }
    }


    .description {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      margin-top: 110px;
      @include medium {
        text-align: center;
        padding: 0 10px;
        color: var(--white);
        background: rgba(2, 22, 46, 0.3);
      }
      @include tablet {
        margin-top: 50px;
      }
      @include mobile {
        margin-top: 0;
        font-size: 14px;
        line-height: 16px;
      }

    }

    hr {
      margin: 30px auto;
      width: 200px;
      height: 3px;
      color: var(--purple);
      border: 2px solid var(--purple);
      background-color: var(--purple);
      @include medium {
        display: none;
      }
    }

    .subDescription {
      margin-top: 50px;
      font-weight: 400;
      font-size: 14px;
      line-height: 15px;
      margin-bottom: 30px;

      @include medium {
        text-align: center;
        padding: 0 10px;
        color: var(--white);
        background: rgba(2, 22, 46, 0.3);
        margin-top: 20px;
      }
      @include mobile {
        font-size: 12px;
        line-height: 14px;
        margin: 0;
      }
    }
  }

  .btnBlock {
    align-self: flex-end;

    @include large {
      margin-top: 50px;
    }
  }
}