@import "./styles/screen";
.wrap{
  margin-top: 50px;

}
.contentWrap{
  display: flex;
  flex-direction: column;

  @include large{
    margin: 0 10px;
  }


  .right{
    align-self: flex-end;
    @include large{
      margin-bottom: 50px;
    }
  }

}

.content{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: minmax(200px, 400px);
  gap: 50px;
  margin-bottom: 70px;

  @include large{
    gap: 50px 20px;
  }
  @include tablet{
    grid-template-columns: 1fr;
    position: relative;
  }


  .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include tablet{
      //position: absolute;
    }
  }
  .desc{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: var(--black);


    @include large{
      line-height: 24px;
    }
    @include medium{
      font-size: 14px;
      line-height: 20px;
    }

    @include tablet{
      background: linear-gradient(0deg, rgba(2, 22, 46, 1) 0%, rgba(2, 22, 46, 0) 95.16%);
      color: var(--white);
      position: absolute;
      bottom: 0;
      padding: 10px;
    }

    span{
      font-weight: 600;
      @include tablet{
        width: 150px;
        padding: 0 10px;
        background: var(--purple)
      }
    }
    h5{
      font-family: 'Montserrat Alternates', sans-serif;
      font-weight: 700;
      font-size: 48px;
      line-height: 50px;
      margin-top: 20px;
      margin-bottom: 80px;

      @include large{
        font-size: 40px;
        margin-bottom: 40px;
      }
      @include medium{
        margin-top: 0;
        font-size: 34px;
        margin-bottom: 20px;
      }
    }
    p{
      font-weight: 400;
    }
  }
}

.reverse{
  grid-template-columns: 1fr 2fr;
  @include tablet{
    grid-template-columns: 1fr;
  }
}