@import "./styles/screen";


.wrap{
  position: absolute;
  z-index: 5;
  width: 50px;
  height: 100vh;
  bottom: 0;
  top: 0;
  left: 0;
  display: flex;

  @include tablet{
    display: none;
  }

}
.list{
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .item{
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    transform: rotate(-90deg);
    margin: 50px 0;
    &:hover{
      transform: rotate(-90deg) scale(1.1);
    }

  }
}